POSTGRES_USER=username
POSTGRES_PASSWORD=userpassword
POSTGRES_DB=databasename

DATABASE_URL = postgresql+asyncpg://username:userpassword@db:5432/databasename (local db)
SYNC_DATABASE_URL = postgresql+psycopg2://username:userpassword@db:5432/databasename (local db)

SECRET_KEY = hahaha
ALGORITHM = hahahaha
ACCESS_TOKEN_EXPIRE_MINUTES = 180
REFRESH_TOKEN_EXPIRE_MINUTES=604800

CLOUDINARY_CLOUD_NAME=cloudenamefromcloudinary
CLOUDINARY_API_KEY=apikeyfromcloudinary
CLOUDINARY_API_SECRET=apisecretfromcloudinary

ADMIN_EMAIL=adminsEmailAddress
ADMIN_PASSWORD=adminsPassword

SUPER_ADMIN_EMAIL=superAdminsEmail
SUPER_ADMIN_PASSWORD=superAdminsPassword

CORS_ORIGINS=http://localhost:5173,https://frontend-url

MAIL_USERNAME=m=mail_address
MAIL_APP_PASSWORD=mail_app_password

# ======================= NEON DB (Working) ============================= #
# DATABASE_URL=postgresql+asyncpg://string:string@string.string/dbName
# SYNC_DATABASE_URL=postgresql+psycopg2://string:string@string.string/dbName?sslmode=require&channel_binding=require